.home {
  align-items: center;
  background: linear-gradient(to bottom, #e5fdff 0%, #5bcbff 100%);
}

.home__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 46px;
}

.icon-wallet {
  max-width: 60px;
  height: 60px;
  object-fit: contain;
  display: block;
  margin-right: 4px;
}

.home__balance {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff; 
  line-height: 1;
  padding: 10px 15px;          
  border-radius: 6px;        
  background: rgba(4, 30, 40, 0.30);
  margin-right: 4px;
}

.icon-btn {
width: 40px;
  height: 40px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  margin-right: 39px;
}

.icon-addmoney {
  display: block;
}

.icon-clothes {
    max-width: 90px;
    height: 90px;
    display: block;
}

.home__content {
  display: flex;
  justify-content: center;
  max-width: 100%;
  flex-direction: column;
}

.home__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 29px;
}

.home__title {
  font-size: 32px;
  font-weight: 700;
  color: black;
  margin: 0;
  text-align: center;
}

.edit-btn {
  border: none;
  background: none;
  padding: 0;
  margin-left: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-edit {
  max-width: 24px;
  height: 24px;
  display: block;
}

.home__stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;          
  margin-top: 29px;
}

.stat-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.3);
  color: #000000; 
}

.stat-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
}

.stat-value {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}

.home__pet-wrapper {
  margin-top: 28px;
  display: flex;
  flex-direction: column; 
  align-items: center;      
  justify-content: center;
  position: relative;
}

.home__pet {
  max-width: 295.89px;
  height: 312.24px;
  display: block;
  position: relative;
  z-index: 1;
}

.home__pet-shadow {
  width: 300px;
  height: 45.79px;
  margin-top: -15px;
  border-radius: 50%;
  background: radial-gradient(
    ellipse at center,
    rgba(64, 105, 136, 0.30) 0%,
    rgba(64, 105, 136, 0.30) 45%,
    rgba(64, 105, 136, 0.00) 70%
  );
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% - 18px);
  z-index: 0;
  pointer-events: none;
}

.home__actions {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.action-btn {
  border: none;
  background: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-icon {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: contain;
  cursor: pointer;
}

.home__footer {
  margin-top: 6px;        
  text-align: center;
}

.home__footer-title {
  font-weight: bold;
  font-size: 16px;
  color: #DD73A6;
}